In [ ]:
import pandas as pd
df_holiday = pd.read_csv('Holiday_planning.csv', sep=',')
df_city = pd.read_sql(
    """select name, population from city where country_code not in ('USA', 'VEN')""",
    'postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db'
)

In [ ]:
#DataFrame with city and population
df_city.head()

             name  population
0           Kabul     1780000
1        Qandahar      237500
2           Herat      186800
3  Mazar-e-Sharif      127800
4       Amsterdam      731200

In [ ]:
#DataFrame with data from the table "Holiday planning"
df_holiday.head()

                  Time   Country  ... Price_1Day       City_english
0  12/30/2021 16:33:49  Германия  ...    4875.00             Berlin
1  12/30/2021 16:38:44    Турция  ...    4133.33            Antalya
2  12/30/2021 16:40:18    Египет  ...    4071.43              Cairo
3  12/30/2021 16:46:23    Турция  ...    5500.00             Alanya
4  12/30/2021 16:47:03  Германия  ...    5666.67  Frankfurt am Main

[5 rows x 15 columns]

In [ ]:
#joining tables
df_merged = df_city.merge(df_holiday, left_on = 'name', right_on = 'City_english', how = 'inner')

In [ ]:
df_merged.head(15)

          name  population  ... Price_1Day City_english
0        Cairo     6789479  ...    4071.43        Cairo
1        Cairo     6789479  ...    4285.71        Cairo
2        Cairo     6789479  ...    4444.44        Cairo
3   Alexandria     3328196  ...    4545.45   Alexandria
4   Alexandria     3328196  ...    5950.00   Alexandria
5   Alexandria     3328196  ...    4700.00   Alexandria
6    Barcelona     1503451  ...    3875.00    Barcelona
7       Milano     1300977  ...    6600.00       Milano
8       Milano     1300977  ...    4416.67       Milano
9       Milano     1300977  ...    5600.00       Milano
10     Venezia      277305  ...    6642.86      Venezia
11     Venezia      277305  ...    3846.15      Venezia
12    Warszawa     1615369  ...    6500.00     Warszawa
13       Paris     2125246  ...    5600.00        Paris
14       Paris     2125246  ...    5714.29        Paris

[15 rows x 17 columns]

In [ ]:
df_merged.columns

Index(['name', 'population', 'Time', 'Country', 'City', 'Date_open',
       'Date_close', 'Budget_ruble', 'Total_days', 'Price_avia', 'Price_hotel',
       'Spending_holidays', 'Grade', 'Total_price', 'Deviation_of_price',
       'Price_1Day', 'City_english'],
      dtype='object')

In [ ]:
#create new dataframe with table (Country, name, population)
df_population = df_merged[['Country', 'name', 'population']]

In [ ]:
df_population.head(33)

     Country               name  population
0     Египет              Cairo     6789479
1     Египет              Cairo     6789479
2     Египет              Cairo     6789479
3     Египет         Alexandria     3328196
4     Египет         Alexandria     3328196
5     Египет         Alexandria     3328196
6    Испания          Barcelona     1503451
7     Италия             Milano     1300977
8     Италия             Milano     1300977
9     Италия             Milano     1300977
10    Италия            Venezia      277305
11    Италия            Venezia      277305
12    Польша           Warszawa     1615369
13   Франция              Paris     2125246
14   Франция              Paris     2125246
15   Франция               Lyon      445452
16  Германия             Berlin     3386667
17  Германия             Berlin     3386667
18  Германия             Berlin     3386667
19  Германия             Berlin     3386667
20  Германия  Frankfurt am Main      643821
21   Таиланд            Bangkok     6320174
22   Таиланд            Bangkok     6320174
23   Таиланд            Bangkok     6320174
24   Таиланд            Bangkok     6320174
25    Турция              Izmir     2130359
26    Турция              Izmir     2130359
27    Турция            Antalya      564914
28    Турция            Antalya      564914
29    Турция            Antalya      564914
30    Турция            Antalya      564914
31    Турция             Alanya      117300
32    Турция             Alanya      117300

In [ ]:
#creation of a new variable with data grouping by countries and cities
y = df_population.groupby(['Country', 'name']).mean()

In [ ]:
y

                            population
Country  name
Германия Berlin                3386667
         Frankfurt am Main      643821
Египет   Alexandria            3328196
         Cairo                 6789479
Испания  Barcelona             1503451
Италия   Milano                1300977
         Venezia                277305
Польша   Warszawa              1615369
Таиланд  Bangkok               6320174
Турция   Alanya                 117300
         Antalya                564914
         Izmir                 2130359
Франция  Lyon                   445452
         Paris                 2125246

In [ ]:
#average city population
y.mean()

population    2.182051e+06
dtype: float64